.container{
	width:90%;
	height:90%;
	border:1px solid black;
}
.ticket{
	width:80%;
	height:10%;
	border:1px solid black;
}
#div1{
	border-color: red;
}
#div2{
	border-color: black;
}
#div3{
	border-color: green;
}